<div class="panel-content">
    <div class="welcome-patti">

        <ul class="breadcrumbs">
            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
            <li><a href="#" title="">Dashboard</a></li>
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile">
                    <h2>Dashboard</h2>

                </div>
            </div>
        </div>
    </div><!-- Heading Sec -->
    <div class="main-content-area">
        <div class="row">
            <div class="row">

                <div class="row" ng-show="mostrar == 0">
                    <div class="col-md-12">
                        <div class="widget with-padding">
                            <form name="form" class="form-validation">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="inline-form">

                                        <h4 ng-repeat="item in datatopmodelsellout2">Semana Actual: <strong>{{item.maximo}}</strong> </h4> 
                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="inline-form">
                                            <label class="c-label">Semana Desde</label><input class="input-style" type="number"
                                            placeholder="Semana" ng-model="ScoreI">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="inline-form">
                                            <label class="c-label">Semana Hasta</label><input class="input-style" type="number"
                                            placeholder="Semana"  ng-model="ScoreF">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="inline-form">
                                            <label class="c-label">Año</label><input class="input-style" type="number"
                                            placeholder="Año" ng-model="ScoreA">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inline-form">
                                            <label class="c-label">Grupo</label>
                                            <select ng-model="item.idgrupo" ng-options="grupo.id as grupo.nombre for grupo in grupos" 
                                            ng-change="cargarCuentas(item.idgrupo)" >
                                                
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <div class="inline-form">
                                            <label class="c-label">Cuenta</label>
                                            <select ng-model="item.idsucursal" ng-options="sucursal.id as sucursal.nombre for sucursal in sucursales" 
                                            ng-change="cargarpuntosventas(item.idsucursal)" ></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inline-form">
                                            <label class="c-label">Punto de venta</label>
                                            <select ng-model="item.idpuntoventa" ng-options="puntoventa.id as puntoventa.nombre for puntoventa in puntosventas"  ></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inline-form">
                                            <label class="c-label">Modelo</label>
                                            <select ng-model="item.idmodelo"
                                            ng-options="modelo.id as modelo.nombre for modelo in modelos"
                                            ></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 30px;">
                                    <div class="col-md-6" ng-show="msg.mostrar == 1">
                                        <div class="notification">
                                            <div role="alert" class="alert color" ng-class="msg.color">
                                                <strong>{{msg.title}}</strong> {{msg.message}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pull-right">
                                        <button href="#" title="" class="c-btn large green pop pull-right"
                                        ng-click="getScoreData(ScoreI,ScoreF,ScoreA,item.idgrupo,item.idsucursal,item.idpuntoventa,item.idmodelo)" ng-disabled="form.$invalid">Filtrar
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="widget no-padding blank">
                    <button href="#" title="" class="c-btn medium green pop" ng-click="exportarexcel(item)">Exportar Excel</button>
                    <button href="#" title="" class="c-btn medium blue pop" ng-click="exportarpdf(item)" target="_blank">Exportar PDF</button>
                    <div class="panel panel-default work-progress-table">

                        <div class="panel-heading">
                            TOP Seller <i>Modelos</i>
                            <div class="dropdown rounded">
                                <div class="form-group">
                                    <input type="text" placeholder="Buscar" class="form-control"
                                    ng-model="search.$">
                                </div>

                            </div>
                        </div>
                        <table id="dataTableModel" class="table table-striped">
                            <thead>
                                <tr>
                                   <th>#</th>
                                   <th>Modelo</th>
                                   <th>OH</th>
                                   <th>SELL OUT</th>
                                   <th>PDS</th>
                                   <th>DOI</th>
                               </tr>
                           </thead>
                           <tbody>
                            <tr ng-repeat="item in datatopmodelsellout | filter:search">
                                <td>{{$index + 1}}</td>
                                <td>{{item.modelo}}</td>
                                <td>{{item.inventory}}</td>
                                <td>{{item.sellout}}</td>
                                <td >{{item.pdS}}</td>
                                <td >{{item.DOI}}</td>

                            </tr>
                            <tr ng-if="datatopmodelsellout.length == 0">
                                <td>No hay registros</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- Quick Total Earning -->
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h3>Ventas por semana</h3>
                        </div>
                        <div class="statistic-chart">
                            <div class="graph-container">
                                <div id="chart" style="height:290px">
                                    <canvas id="line" class="chart chart-bar" chart-data="data"
                                            chart-labels="labels"
                                            chart-series="series" chart-options="options"
                                            chart-dataset-override="datasetOverride"
                                            chart-click="onClick">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


</div>
</div>
</div><!-- Panel Content -->
<script type="text/javascript">
</script>
