<div class="panel-content">
    <div class="welcome-patti">

        <ul class="breadcrumbs">
            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
            <li><a href="#" title="">Plantillas</a></li>
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">

    </div><!-- Heading Sec -->
    <div class="main-content-area">

        <div class="row" ng-show="mostrar == 0">
            <div class="col-md-12">
            <div class="widget with-padding">
                    <form name="form1" class="form-validation">
                        <!--h4>{{settings.accion}} {{settings.singular}}</h4-->
                        <h4>Filtrar:</h4>
                        <div class="row">
                            
                            <div class="col-md-4">
                                <div class="inline-form">
                                    <label class="c-label">Cuenta</label>
                                    <select ng-model="item.idsucursal"
                                    ng-options="sucursal.id as sucursal.nombre for sucursal in sucursales"
                                    required="required"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inline-form">
                                    <label class="c-label">Modelo</label>
                                    <select ng-model="item.idmodelo"
                                    ng-options="modelo as modelo.nombre for modelo in modelos"
                                    required="required"
                                    ></select>
                                </div>
                            </div>
                          
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-md-6" ng-show="msg.mostrar == 1">
                                <div class="notification">
                                    <div role="alert" class="alert color" ng-class="msg.color">
                                        <strong>{{msg.title}}</strong> {{msg.message}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <button href="#" title="" class="c-btn large green pop pull-right"
                                ng-click="filtrar(item)" ng-disabled="form1.$invalid">Filtrar
                            </button>
                            <button href="#" title="" class="c-btn large red pop pull-right"
                            ng-click="cargar_datos()" ng-disabled="form1.$invalid">Limpiar
                        </button>
                    </div>
                </div>
            </form>
        </div>
                <div class="widget no-padding blank">
                    <button href="#" title="" class="c-btn medium green pop" ng-click="crear()">Crear</button>
                    <div class="panel panel-default work-progress-table">
                        <div class="panel-heading">
                            {{data.length}} Registros<i>Listado de plantillas</i>

                            <!--<div class="dropdown rounded">
                                <div class="form-group">
                                    <input type="text" placeholder="Buscar" class="form-control" ng-model="search.$">
                                </div>
                            </div>-->
                        </div>
                        <table ng-table="dataTable" show-filter="true" class="table table-striped">
                            <tr ng-repeat="item in $data" style="text-align: left">
                                <td data-title="'#'">{{$index + 1}}</td>
                                <td data-title="'Categoria'" filter="{ 'categorias_plantillas.nombre': 'text' }">{{
                                    item.categoria }}
                                </td>
                                <td data-title="'Sucursal'" filter="{ 'puntos_ventas.sucursal.nombre': 'text' }">{{
                                    item.sucursal }}
                                </td>
                                <td data-title="'Punto de venta'" filter="{ 'puntos_ventas.nombre': 'text' }">{{
                                    item.pventa }}
                                </td>
                                <td data-title="'Modelo'" filter="{ 'modelos.nombre': 'text' }">{{ item.modelo
                                    }}
                                </td>
                                <td data-title="'Acciones'">
                                    <button class="c-btn mini blue pop" ng-click="editar(item)"><i
                                            class="fa fa-edit blue"></i></button>
                                    <button class="c-btn mini red pop" ng-click="eliminar(item)"><i
                                            class="fa fa-trash-o red"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="mostrar == 1">
            <div class="col-md-12">
                <div class="widget with-padding">
                    <form name="form" class="form-validation">
                        <h4>{{settings.accion}} {{settings.singular}}</h4>
                        <div class="row" ng-show="settings.accion != 'Eliminar'">
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Sucursal</label>
                                    <select ng-model="item.puntos_ventas.sucursal.id"
                                            ng-options="sucursal.id as sucursal.nombre for sucursal in sucursales"
                                            ng-change="cargarpdvycategorias(item.puntos_ventas.sucursal.id)"
                                            ></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Categoria</label>
                                    <select ng-model="item.idcategoria_plantilla"
                                            ng-options="categoria.id as categoria.nombre for categoria in categoriasplantillas"
                                            required></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Punto de venta</label>
                                    <select ng-model="item.idpuntoventa"
                                            ng-options="puntoventa.id as puntoventa.nombre for puntoventa in puntosventas"
                                            required></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Modelo</label>
                                    <select ng-model="item.idmodelo"
                                            ng-options="modelo.id as modelo.nombre for modelo in modelos"
                                            required></select>
                                </div>
                            </div>

                        </div>

                        <div class="row" ng-show="settings.accion == 'Eliminar'">
                            <div class="col-md-12 text-center">
                                <h5>Esta seguro de eliminar el registro ? Este proceso es irreversible</h5>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 30px;">
                            <div class="col-md-6" ng-show="msg.mostrar == 1">
                                <div class="notification">
                                    <div role="alert" class="alert color" ng-class="msg.color">
                                        <strong>{{msg.title}}</strong> {{msg.message}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <button href="#" title="" class="c-btn large green pop pull-right" ng-click="guardar(item)" ng-disabled="form.$invalid">{{settings.accion!='Eliminar' ? 'Guardar' : 'Eliminar'}}</button>
                                <button href="#" title="" class="c-btn large red pop pull-right" ng-click="cancelar()">
                                    Cancelar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function () {

        'use strict';

    });
</script>
