<div class="panel-content">
	<div class="welcome-patti">
		
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Reportes</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">

	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="row" ng-show="mostrar == 0">
			<div class="col-md-12">
				<div class="widget with-padding">
					<form name="form" class="form-validation">
						<h4>{{settings.accion}} {{settings.singular}}</h4>
						<div class="row">
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Desde</label><input class="input-style" type="date" placeholder="Fecha desde" ng-model="item.desde"  required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Hasta</label><input class="input-style" type="date" placeholder="Fecha hasta" ng-model="item.hasta"  required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Semana</label><input class="input-style" type="number" placeholder="Semana" ng-model="item.semana"  required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Pais</label>
								<select ng-model="item.idpais" ng-options="pais.id as pais.nombre for pais in paises" ng-change="cargarcuentas(item.idpais)" required></select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Cuenta</label>
								<select ng-model="item.idsucursal" ng-options="sucursal.id as sucursal.nombre for sucursal in sucursales" required></select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Punto de venta</label>
								<select ng-model="item.idpuntoventa" ng-options="puntoventa.id as puntoventa.nombre for puntoventa in puntosventas" required></select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Categoria</label>
								<select ng-model="item.idcategoria" ng-options="categoria.id as categoria.nombre for categoria in categorias" required></select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Series</label>
								<select ng-model="item.idserie" ng-options="serie.id as serie.nombre for serie in series" required></select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Modelos</label>
								<select ng-model="item.idmodelo" ng-options="modelo.id as modelo.nombre for modelo in modelos" required></select>
							</div>
						</div>
						</div>
						<div class="row" style="margin-top: 30px;">
						<div class="col-md-6" ng-show="msg.mostrar == 1">
							<div class="notification">
								<div role="alert" class="alert color" ng-class="msg.color">
									<strong>{{msg.title}}</strong> {{msg.message}}
								</div>
							</div>
						</div>
						<div class="col-md-6 pull-right">
							<button href="#" title="" class="c-btn large blue pop pull-right" ng-click="cancelar()">Filtrar</button>
						</div>
					</div>
					</form>
				</div>
			</div>		
		</div>

		<div class="row" ng-show="mostrar == 1">
			<div class="col-md-12">
				<div class="widget with-padding">
				<form name="form" class="form-validation">				 
					<h4>{{settings.accion}} {{settings.singular}}</h4>
					<div class="row" ng-show="settings.accion != 'Eliminar'">
						
						<div class="col-md-6">
							<div class="inline-form">
								<label class="c-label">Usuario</label><input class="input-style" type="text" placeholder="Usuario" ng-model="item.usuario" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="inline-form">
								<label class="c-label">Password</label><input type="password" placeholder="Password" ng-model="item.password" ng-required="settings.accion == 'Crear'">
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="inline-form">
								<label class="c-label">Tipo Usuario</label>
								<select ng-model="item.idtipo" ng-options="tipo_usuario.id as tipo_usuario.nombre for tipo_usuario in tipos_usuarios" required></select>
							</div>
						</div>
					</div>

					<div class="row" ng-show="settings.accion == 'Eliminar'">
						<div class="col-md-12 text-center">
							<h5>Esta seguro de eliminar el registro ? Este proceso es irreversible</h5>
						</div>
					</div>
					
					<div class="row" style="margin-top: 30px;">
						<div class="col-md-6" ng-show="msg.mostrar == 1">
							<div class="notification">
								<div role="alert" class="alert color" ng-class="msg.color">
									<strong>{{msg.title}}</strong> {{msg.message}}
								</div>
							</div>
						</div>
						<div class="col-md-6 pull-right">
							<button href="#" title="" class="c-btn large green pop pull-right" ng-click="guardar(item)" ng-disabled="form.$invalid">{{settings.accion!='Eliminar' ? 'Guardar' : 'Eliminar'}}</button>
							<button href="#" title="" class="c-btn large red pop pull-right" ng-click="cancelar()">Cancelar</button>
						</div>
					</div>

				</form>
				</div>
			</div>
		</div>
	</div>

</div><!-- Panel Content -->
<script type="text/javascript">
	$(document).ready(function(){
    
    'use strict';

		
	});
</script>
