<div class="panel-content">
    <div class="welcome-patti">

        <ul class="breadcrumbs">
            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
            <li><a href="#" title="">Ventas Pendientes</a></li>
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">

    </div><!-- Heading Sec -->
    <div class="main-content-area">
        <div class="row" ng-show="mostrar == 0">
            <div class="col-md-12">
                <div class="widget no-padding blank">
                    <div class="panel panel-default work-progress-table">
                        <div class="panel-heading">
                            {{data.length}} Registros <i>Ventas pendientes</i>
                            <div class="dropdown rounded">
                                <div class="form-group">
                                    <input type="text" placeholder="Buscar" class="form-control" ng-model="search.$">
                                </div>
                            </div>
                        </div>
                        <table id="dataTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Año</th>
                                <th>Semana</th>
                                <th>Store Name</th>
                                <th>Modelo</th>
                                <th>Inventory</th>
                                <th>Sell_Out</th>
                                <th>Mensaje</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in data | filter:search">
                                <td>{{item.id}}</td>
                                <td>{{item.anio}}</td>
                                <td>{{item.semana}}</td>
                                <td>{{item.store_name}}</td>
                                <td>{{item.model}}</td>
                                <td>{{item.inventory}}</td>
                                <td>{{item.sell_out}}</td>
                                <td>{{item.mensaje}}</td>
                                <td>
                                    <button class="c-btn mini blue pop" ng-click="editar(item)"><i
                                            class="fa fa-edit blue"></i></button>
                                    <button class="c-btn mini red pop" ng-click="eliminar(item)"><i
                                            class="fa fa-trash-o red"></i></button>
                                </td>
                            </tr>
                            <tr ng-if="data.length == 0">
                                <td>No hay registros</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="mostrar == 1">
            <div class="col-md-12">
                <div class="widget with-padding">
                    <form name="form" class="form-validation">
                        <h4>{{settings.accion}} {{settings.singular}}</h4>
                        <div class="row" ng-show="settings.accion != 'Eliminar'">
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Año</label><input class="input-style" type="text"
                                                                                placeholder="Año"
                                                                                ng-model="item.anio" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Semana</label><input class="input-style" type="text"
                                                                                placeholder="Semana"
                                                                                ng-model="item.semana" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Store name</label><input class="input-style" type="text"
                                                                                placeholder="Store name"
                                                                                ng-model="item.store_name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Model</label><input class="input-style" type="text"
                                                                                placeholder="Model"
                                                                                ng-model="item.model" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Inventory</label><input class="input-style" type="text"
                                                                                placeholder="Inventory"
                                                                                ng-model="item.inventory" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Sell Out</label><input class="input-style" type="text"
                                                                                placeholder="Sell Out"
                                                                                ng-model="item.sell_out" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inline-form">
                                    <label class="c-label">Mensaje</label><input class="input-style" type="text"
                                                                                placeholder="Mensaje"
                                                                                ng-model="item.mensaje" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="settings.accion == 'Eliminar'">
                            <div class="col-md-12 text-center">
                                <h5>Esta seguro de eliminar el registro ? Este proceso es irreversible</h5>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 30px;">
                            <div class="col-md-6" ng-show="msg.mostrar == 1">
                                <div class="notification">
                                    <div role="alert" class="alert color" ng-class="msg.color">
                                        <strong>{{msg.title}}</strong> {{msg.message}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <button href="#" title="" class="c-btn large green pop pull-right"
                                        ng-click="guardar(item)" ng-disabled="form.$invalid">
                                    {{settings.accion!='Eliminar' ? 'Guardar' : 'Eliminar'}}
                                </button>
                                <button href="#" title="" class="c-btn large red pop pull-right" ng-click="cancelar()">
                                    Cancelar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function () {

        'use strict';


    });
</script>
